@model HabitAqui.Models.AvaliacaoHabitacao

@{
    ViewData["Title"] = "Avaliar";
}


<div class="container mt-5">
    <h4>Avaliar Habitação</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Habitacoes" asp-action="Avaliar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="HabitacaoId" />

                <div class="mb-3">
                    <label asp-for="Classificacao" class="form-label">Classificação</label>
                    <input asp-for="Classificacao" class="form-control" />
                    <span asp-validation-for="Classificacao" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Descricao" class="form-label">Descrição</label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input type="submit" value="Avaliar" class="btn btn-primary btn-lg" />
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3">
        <a class="btn btn-secondary" asp-controller="Arrendamentos" asp-action="ListClienteArrendamentos">Voltar</a>
    </div>
</div>
