@model IEnumerable<HabitAqui.Models.Habitacao>
@{
    ViewData["Title"] = "FilterSearch";
}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<h1>Filtrar Habitação</h1>
<div class="card" style="background-color: #f5f5f5;">
    <div class="card-body">
        <h5 class="card-title" style="font-size: 1.5rem;">Filtros de Pesquisa</h5>
        <form asp-area="" asp-controller="Habitacoes" asp-action="Filter" method="post">
            <div class="form-group mb-3">
                <label for="categoria" style="font-size: 1.2rem;">Categorias:
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="SelectedCategories[]" value="@categoria.Nome">
                        <label class="form-check-label" for="categoria-@categoria.Nome" style="font-size: 1.1rem;">@categoria.Nome</label>
                    </div>
                }
                </label>
            </div>
            <div class="form-group mb-3">
                <label for="locador">
                    <input class="form-control" type="text" name="locador" placeholder="Nome do Locador">
                </label>
            </div>
            <button class="btn btn-secondary" style="font-size: 1.2rem;">Pesquisar</button>
        </form>
    </div>
</div>
<!--
<form asp-area="" asp-controller="Habitacoes" asp-action="Filter" method="post">
    <label for="categoria">
        Categoria:
        <input class="form-check-input" type="checkbox" name="category[]" value="T1"> T1
        <input class="form-check-input" type="checkbox" name="category[]" value="T2"> T2
        <input class="form-check-input" type="checkbox" name="category[]" value="T3"> T3
        <input class="form-check-input" type="checkbox" name="category[]" value="T4"> T4
        <input class="form-check-input" type="checkbox" name="category[]" value="Moradias"> Moradias
        <input class="form-check-input" type="checkbox" name="category[]" value="Quartos"> Quartos
        <input class="form-check-input" type="checkbox" name="category[]" value="Outra"> Outra
    </label>
    <br>
    <label for="locador">
        <input class="form-control" type="text" name="locador" placeholder="Nome do Locador">
    </label>
    <button class="btn btn-secondary">Pesquisar</button>
</form>
-->


