@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h2 class="text-center mb-4">Sign In</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label class="form-check-label" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Entrar</button>
                    </div>

                    <div class="mb-3 text-center">
                        <p><a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a sua senha?</a></p>
                        <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registe-se como um novo utilizador</a></p>
                       
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
