@model HabitAqui.Models.Equipamento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Equipamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipamentoEstado" class="control-label"></label>
                <select asp-for="EquipamentoEstado" class="form-control">
                        <option value="@EquipamentoEstado.BOM">Bom</option>
                    <option value="@EquipamentoEstado.DANIFICADO">Danificado</option>
                    <option value="@EquipamentoEstado.EM_FALTA">Em falta</option>
                </select>
                <span asp-validation-for="EquipamentoEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

