@model HabitAqui.Models.Equipamento

@{
    ViewData["Title"] = "Delete";
}


<div class="container mt-5 ">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Apagar Equipamento</h3>
        </div>
        <div class="card-body">
            <h4>Tem a certeza de que quer apagar este Equipamento?</h4>
            <dl class="row">
                <dd>Nome: @Html.DisplayFor(model => model.Nome)</dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </form>
        </div>
    </div>
</div>
