@model IEnumerable<HabitAqui.Models.Equipamento>

@{
    ViewData["Title"] = "Index";
}

<h2>Equipamentos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo</a>
</p>

<div class="row m-auto mt-2">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                            <i class="fa-solid fa-pen-to-square"></i> Editar
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i> Apagar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>




