@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cliente</h5>
                    <p class="card-text">Card content for Cliente.</p>
                    <a asp-controller="Cliente" asp-action="Index"><button class="btn btn-primary">Login</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Funcionario</h5>
                    <p class="card-text">Card content for Funcionario.</p>
                    <a asp-controller="Funcionario" asp-action="Index"><button class="btn btn-primary">Login</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestor</h5>
                    <p class="card-text">Card content for Gestor.</p>
                    <a asp-controller="Gestor" asp-action="Index"><button class="btn btn-primary">Login</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Administrador</h5>
                    <p class="card-text">Card content for Administrador.</p>
                    <a asp-controller="Administrador" asp-action="Index"><button class="btn btn-primary">Login</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Anonimo</h5>
                    <p class="card-text">Card content for Anonimo.</p>
                    <a asp-controller="Anonimo" asp-action="Index"><button class="btn btn-primary">Login</button></a>
                </div>
            </div>
        </div>
    </div>
</div>