@model HabitAqui.Models.Arrendamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Arrendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Custo" class="control-label"></label>
                <input asp-for="Custo" class="form-control" />
                <span asp-validation-for="Custo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Cliente</label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Equipamentos Opcionais</label>
                <div>
                    @foreach (var equipamento in ViewBag.Equipamentos)
                    {
                        <input class="form-check-input" type="checkbox" name="EquipamentosOpcionais" value="@equipamento.Id">@equipamento.Nome
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioEntregaId" class="control-label"></label>
                <select asp-for="FuncionarioEntregaId" class="form-control" asp-items="ViewBag.FuncionarioEntregaId"></select>
                <span asp-validation-for="FuncionarioEntregaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label"></label>
                <input asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListArrendamentos">Back to List</a>
</div>

