@model HabitAqui.ViewModels.EntregaHabitacaoViewModel

@{
    ViewData["Title"] = "Entregar";
}

<div class="container mt-5">
    <h4>Entregar Arrendamento</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Entregar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label class="control-label">Equipamentos Opcionais:</label>
                    @foreach (var equipamento in ViewBag.Equipamentos)
                    {
                        <div>
                            <label>
                                <input type="checkbox" name="ids" value="@equipamento.Id">
                                @equipamento.Nome
                            </label>
                        </div>
                    }
                </div>

                <div class="form-group mb-3">
                    <label class="control-label">Funcionário:</label>
                    <div>
                        <select class="form-control" name="FuncionarioEntregaId">
                            @foreach (var funcionario in ViewBag.Funcionarios)
                            {
                                <option value="@funcionario.FuncionarioId">@funcionario.Nome</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Observacoes" class="control-label">Observações:</label>
                    <textarea asp-for="Observacoes" class="form-control"></textarea>
                    <span asp-validation-for="Observacoes" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Danos" class="control-label">Danos:</label>
                    <textarea asp-for="Danos" class="form-control"></textarea>
                    <span asp-validation-for="Danos" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary">Entregar</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

<!--
<div class="form-group">
    foreach (var equipamento in ViewBag.Equipamentos)
    {
        <div>
            <label>
                <input type="checkbox" name="ids" value="equipamento.Id">
                equipamento.Nome
            </label>
        </div>
    }
</div>-->