@model HabitAqui.Models.Funcionario

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5 ">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Apagar Funcionario</h3>
        </div>
        <div class="card-body">
            <h4>Tem a certeza de que quer apagar este Funcionario?</h4>
            <dl class="row">
                <dd>Nome: @Html.DisplayFor(model => model.Nome)</dd>
                <dd>Locador: @Html.DisplayFor(model => model.Locador.Nome)</dd>

            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="FuncionarioId" />
                <button type="submit" class="btn btn-danger">Delete</button>
                @if (User.IsInRole("Gestor"))
                {
                    <a asp-action="ListEmployees" asp-controller="Gestores" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                }
                else
                {
                    <a asp-action="ListUsers" asp-controller="Administradores" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                }
            </form>
        </div>
    </div>
</div>


