html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Sidebar Styles */
.sidebar {
    background-color: #333;
 
}
.sidebar .sidebar-header {
    background-color: #222;
}
.sidebar ul li:hover {
    background: #222;
}
.log-partialbtn:hover {
    background: #222;
}
.sidebar ul li a {
    color: #fff;
}
.content {
    padding-left:200px
}
