<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HabitAqui</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HabitAqui.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <!-- JavaScript do Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Biblioteca jQuery (Bootstrap requer jQuery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
    <nav id="mySidebar" class="sidebar position-fixed top-0 left-0 w-15 h-100 z-index-1">
            <div class="sidebar-header text-center p-3">
                <h1><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">HabitAqui</a></h1>
            </div>
            <ul class="p-2 list-unstyled text-center">
                <li>
                    <a class="nav-link text-white d-block" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                   <a class="nav-link text-white d-block" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
            
      
            <footer class="footer text-muted">
            <partial name="_LoginPartial" />
            <div class="container border-top">
                    &copy; 2023 - HabitAqui - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </nav>
        
        <div class="content container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
