<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HabitAqui</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HabitAqui.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-house"></i>
                    HabitAqui
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto text-white">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Locadores
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Administradores" asp-action="ListLocadores">
                                            Listar Locadores
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/RegisterLocador">
                                            Registar Locador
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Administradores" asp-action="ListUsers">Utilizadores</a>
                            </li>
                            <li class="nav-item">
                                
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categorias
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Categorias" asp-action="Create">
                                            Criar Categoria
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Categorias" asp-action="Index">
                                            Listar Categorias
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Equipamentos
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Equipamentos" asp-action="Create">
                                            Criar Equipamentos
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Equipamentos" asp-action="Index">
                                            Listar Equipamentos
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Cliente"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Arrendamentos" asp-action="ListClienteArrendamentos">Os meus alugueres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Clientes" asp-action="ListFavoritos">Favoritos</a>
                            </li>
                        }
                        @if (User.IsInRole("Gestor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Gestores" asp-action="ListEmployees">Utilizadores</a>
                            </li>
                        }
                        @if (User.IsInRole("Funcionario") || User.IsInRole("Gestor"))
                        {
                            <li class="nav-item">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Habitações
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Habitacoes" asp-action="Listar">
                                            Listar Habitações
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Habitacoes" asp-action="Create">
                                            Adicionar Habitação
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Alugueres
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Arrendamentos" asp-action="ListArrendamentos">
                                            Listar Reservas
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Equipamentos
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Equipamentos" asp-action="Index">
                                            Listar Equipamentos
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Equipamentos" asp-action="Create">
                                            Criar Equipamentos
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <partial name="_LoginPartial" />
                    </ul>
                   
                </div>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
