<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HabitAqui</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HabitAqui.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true"/>
</head>
<body>
  
    <div id ="mySidebar" class="sidebar">
        <nav class="sidebar-header">
            <h1><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">HabitAqui</a></h1>
        </nav>
        <ul>
            <li><div><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a></div></li>
            <li><div><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div></li>
        </ul>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - HabitAqui - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <button class="openbtn" onclick="toggleSidebar()">☰ Open Sidebar</button>
    </div>
    <partial name="_LoginPartial" />

    <div class="content container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
